<!-- start _includes/head/custom.html  -->

<!-- LOADED FROM: https://github.com/mmistakes/minimal-mistakes/blob/master/_layouts/default.html -->

<meta name="description" content="XX Developing technologies for the cities of the future.">
<meta property="og:title" content="Creating.City" />
<meta property="og:url" content="http://creating.city" />
<meta property="og:description" content="XX Developing technologies for the cities of the future.">
<!-- <meta property="og:image" content="//creating.city/images/evento-wcci.jpeg"> -->
<meta property="og:type" content="article" />
<meta property="og:locale" content="pt_BR" />

<!-- end _includes/head/custom.html  -->